{% extends 'layout.twig' %}
{% block body %}

  <!-- {% include 'app/components/jukebox.twig' %} -->
  <div class="main">
    <div class="searchResultSpotify">
      <h1>Spotify</h1>
    </div>
  </div>

{% endblock %}
